RabbitMQ.Producer/RabbitMQ.Producer/obj/
RabbitMQ.Producer/RabbitMQ.Producer/bin/
RabbitMQ.Producer/.vs/
RabbitMQ.Consumer/RabbitMQ.Consumer/obj/
RabbitMQ.Consumer/RabbitMQ.Consumer/bin/
RabbitMQ.Consumer/.vs/